# <font color='mediumpurple'> Test connection SSH </font>

In [2]:
print('Hello')

Hello

# <font color='mediumpurple'> Spark Context and session </font>

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Test My application").getOrCreate()

sc = spark.sparkContext

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/11/20 10:24:44 WARN Utils: Your hostname, promo-ds4-gra9-6, resolves to a loopback address: 127.0.1.1; using 57.128.77.93 instead (on interface ens3)
25/11/20 10:24:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/20 10:24:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
sc.stop()

# <font color='mediumpurple'> RDD </font>

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("RDD_exemples").getOrCreate()
sc = spark.sparkContext

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/11/20 12:48:10 WARN Utils: Your hostname, promo-ds4-gra9-6, resolves to a loopback address: 127.0.1.1; using 57.128.77.93 instead (on interface ens3)
25/11/20 12:48:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/20 12:48:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Create RDD

In [2]:
l = [1, 2, 3, 4, 5] * 100000
rdd = sc.parallelize(l)

rdd.collect() #Action

rdd.glom().collect()

#glom() transforms each partition 
# into a tuple (immutabe list) of elements. It creates an RDD of tuples. One tuple per partition.

[[1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  ...],
 [2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  2,
  3,
  4,
  5,
  1,
  ...]]

In [3]:
#Create an RDD from a list of tuples 

data = [("Alice", 25), ("Bob", 41), ("Charlie", 19)]
rdd2 = sc.parallelize(data)

rdd2.collect()

[('Alice', 25), ('Bob', 41), ('Charlie', 19)]

In [4]:
rdd2.glom().collect()

[[('Alice', 25)], [('Bob', 41), ('Charlie', 19)]]

## Actions

In [5]:
count = rdd2.count()
count

3

In [6]:
rdd2.first()

rdd.first()

1

In [7]:
rdd2.take(2)

rdd.take(10)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

## Transformation

In [8]:
mapped_rdd2 = rdd2.map(lambda x : (x[0].upper(), x[1]))
mapped_rdd2.collect()

[('ALICE', 25), ('BOB', 41), ('CHARLIE', 19)]

## Exemple

In [13]:
l3 = [1, 2, 3, 4, 5,6,7,8,9,10]

# On l'envoie dans la "Matrix" (RDD)
rdd = sc.parallelize(l3)

result= rdd.map(lambda x: x * x).reduce(lambda a, b: a + b) #carre puis addition

result

385

In [16]:
rdd_carre = rdd.map(lambda x: x * x)
rdd_carre.saveAsTextFile("carre.txt")

In [18]:
rdd_text = sc.textFile("carre.txt")
rdd_text.collect()

['36', '49', '64', '81', '100', '1', '4', '9', '16', '25']

## Fin

In [19]:
sc.stop()

# <font color='mediumpurple'> Arbres </font>

## Session

In [23]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ArbresParis").getOrCreate()

25/11/20 14:46:31 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

## Questions

### Ouverture du dataframe

In [3]:
df = spark.read.option("header", "true") \
               .option("delimiter", ";") \
               .option("inferSchema", "true") \
               .csv("arbresremarquablesparis.csv")

In [4]:
df.show(5)

25/11/20 14:38:20 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------------+---------+-----------+----------------+--------------------+------+--------------------+-------------------+------------+-------------------+---------+------------+-------------+-----------------+-------------------+--------------------+---------+---------+--------------------+--------------------+--------------------+----------------+----------------+--------------------+----------------------+--------------------+-------------------+-------------------------+--------------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+--------------------+
|           Geo point|   idbase|domanialite| arrondissement3|  complement adresse|numero|            adresse6|circonference en cm|hauteur en m|stade développement|pépinière|       genre|       espèce|varieteoucultivar| date de plantation|    libellé Français|  ID Base| ID arbre|                Site|           Adresse19|Complément d'adresse|Arrondissement21|     Domanialité|Dénomination usuelle|Dénomination botanique|Autorité taxonomique|Année de plantation|Qualification remarquable|              Résumé|          Descriptif|Numéro de délibération|Date de la délibération|Label national|           Panonceau|             Photo 1|         Copyright 1|
+--------------------+---------+-----------+----------------+--------------------+------+--------------------+-------------------+------------+-------------------+---------+------------+-------------+-----------------+-------------------+--------------------+---------+---------+--------------------+--------------------+--------------------+----------------+----------------+--------------------+----------------------+--------------------+-------------------+-------------------------+--------------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+--------------------+
|48.87354080359454...| 114869.0|     Jardin| PARIS 16E ARRDT|PELOUSE 10 - 20 à 26|  NULL|JARDIN DE L AVENU...|              174.0|        10.0|                  A| Inconnue|Koelreuteria|   paniculata|             NULL|1700-01-01 00:09:21|           Savonnier| 114869.0| 114869.0|         Avenue Foch|      10 Avenue Foch|PELOUSE 10 - 20 à 26|              16|          Jardin|           Savonnier|  Koelreuteria pani...|               Laxm.|           Inconnue|                 Paysager|Cet arbre est cla...|Originaire du nor...|                  NULL|                   NULL|          NULL|https://capgeo.si...|https://capgeo.si...|Clément Dorval / ...|
|48.86326316465342...|2002347.0|     Jardin|BOIS DE BOULOGNE|               16-07|  NULL|GRANDE CASCADE - ...|              330.0|        30.0|                  M| Inconnue|    Taxodium|    distichum|             NULL|1859-01-01 00:09:21|       Cyprès Chauve|2002347.0|2002427.0|Bois de Boulogne....|Carrefour de Long...|               16-07|              16|Bois de Boulogne|       Cyprès chauve|    Taxodium distichum|          (L.) Rich.|               1859|                 Paysager|Cet arbre est cla...|Le cyprès chauve ...|                  NULL|                   NULL|          NULL|https://capgeo.si...|https://capgeo.si...|Sonia Yassa / Vil...|
|48.85974252900819...| 147672.0|  CIMETIERE| PARIS 20E ARRDT|               20-15|  NULL|CIMETIERE DU PERE...|              363.0|        22.0|                  M| Inconnue|    Aesculus|hippocastanum|             NULL|1700-01-01 00:09:21|          Marronnier| 147672.0| 147672.0|Cimetière du Père...|Cimetiere Du Pere...|               20-15|              20|       Cimetière|   Marronnier d'Inde|  Aesculus hippocas...|                  L.|           Inconnue|                 Paysager|Cet arbre est cla...|Le marronnier est...|                  NULL|                   NULL|          NULL|https://capgeo.si...|https://capgeo.si...|Mathieu Bedel / V...|
|48.89335545445399...| 120016.0|     Jardin| PARIS 18E ARRDT|               18-08|  NULL|SQUARE MAURICE KR...|              234.0|        16.0|                  M| Inconnue|       Toona|     sinensis|             NULL|1700-01-01 00:09:21|             Cedrele| 120016.0| 120016.0|Square Kriegel-Va...|                NULL|               18-08|              18|          Jardin|    Cédrèle de Chine|        Toona sinensis|     (Juss.) M.Roem.|           Inconnue|                 Paysager|Cet arbre est cla...|Originaire d'Asie...|                  NULL|                   NULL|          NULL|https://capgeo.si...|https://capgeo.si...|Sonia Yassa / Vil...|
|48.86583362319786...| 121940.0|     Jardin| PARIS 20E ARRDT|               20-06|  NULL|SQUARE EDOUARD VA...|              160.0|        16.0|                  M| Inconnue|     Corylus|      colurna|             NULL|1700-01-01 00:09:21|Noisetier de Byzance| 121940.0| 121940.0|Square Édouard Va...|  50 Avenue Gambetta|               20-06|              20|          Jardin|Noisetier de Byzance|       Corylus colurna|                  L.|           Inconnue|                 Paysager|Cet arbre est cla...|Cette essence, or...|                  NULL|                   NULL|          NULL|https://capgeo.si...|https://capgeo.si...|Mathieu Bedel / V...|
+--------------------+---------+-----------+----------------+--------------------+------+--------------------+-------------------+------------+-------------------+---------+------------+-------------+-----------------+-------------------+--------------------+---------+---------+--------------------+--------------------+--------------------+----------------+----------------+--------------------+----------------------+--------------------+-------------------+-------------------------+--------------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+--------------------+
only showing top 5 rows

25/11/20 14:38:20 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Geo point, idbase, domanialite, arrondissement, complement adresse, numero, adresse, circonference en cm, hauteur en m, stade développement, pépinière, genre, espèce, varieteoucultivar, date de plantation, libellé Français, ID Base, ID arbre, Site, Adresse, Complément d'adresse, Arrondissement, Domanialité, Dénomination usuelle, Dénomination botanique, Autorité taxonomique, Année de plantation, Qualification remarquable, Résumé, Descriptif, Numéro de délibération, Date de la délibération, Label national, Panonceau, Photo 1, Copyright 1
 Schema: Geo point, idbase, domanialite, arrondissement3, complement adresse, numero, adresse6, circonference en cm, hauteur en m, stade développement, pépinière, genre, espèce, varieteoucultivar, date de plantation, libellé Français, ID Base, ID arbre, Site, Adresse19, Complément d'adresse, Arrondissement21, Domanialité, Dénomination usuelle, Dénomination botanique, Autorité taxonomique, Année de plantation, Qualification remarquable, Résumé, Descriptif, Numéro de délibération, Date de la délibération, Label national, Panonceau, Photo 1, Copyright 1
Expected: arrondissement3 but found: arrondissement
CSV file: file:///home/cuoce/Big_Data/iteration2/arbresremarquablesparis.csv

In [5]:
df.printSchema()

root
 |-- Geo point: string (nullable = true)
 |-- idbase: string (nullable = true)
 |-- domanialite: string (nullable = true)
 |-- arrondissement3: string (nullable = true)
 |-- complement adresse: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- adresse6: string (nullable = true)
 |-- circonference en cm: double (nullable = true)
 |-- hauteur en m: double (nullable = true)
 |-- stade développement: string (nullable = true)
 |-- pépinière: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- espèce: string (nullable = true)
 |-- varieteoucultivar: string (nullable = true)
 |-- date de plantation: timestamp (nullable = true)
 |-- libellé Français: string (nullable = true)
 |-- ID Base: double (nullable = true)
 |-- ID arbre: double (nullable = true)
 |-- Site: string (nullable = true)
 |-- Adresse19: string (nullable = true)
 |-- Complément d'adresse: string (nullable = true)
 |-- Arrondissement21: string (nullable = true)
 |-- Domanialité: string (nullable = true)
 |-- Dénomination usuelle: string (nullable = true)
 |-- Dénomination botanique: string (nullable = true)
 |-- Autorité taxonomique: string (nullable = true)
 |-- Année de plantation: string (nullable = true)
 |-- Qualification remarquable: string (nullable = true)
 |-- Résumé: string (nullable = true)
 |-- Descriptif: string (nullable = true)
 |-- Numéro de délibération: string (nullable = true)
 |-- Date de la délibération: date (nullable = true)
 |-- Label national: string (nullable = true)
 |-- Panonceau: string (nullable = true)
 |-- Photo 1: string (nullable = true)
 |-- Copyright 1: string (nullable = true)

In [6]:
df.columns

['Geo point',
 'idbase',
 'domanialite',
 'arrondissement3',
 'complement adresse',
 'numero',
 'adresse6',
 'circonference en cm',
 'hauteur en m',
 'stade développement',
 'pépinière',
 'genre',
 'espèce',
 'varieteoucultivar',
 'date de plantation',
 'libellé Français',
 'ID Base',
 'ID arbre',
 'Site',
 'Adresse19',
 "Complément d'adresse",
 'Arrondissement21',
 'Domanialité',
 'Dénomination usuelle',
 'Dénomination botanique',
 'Autorité taxonomique',
 'Année de plantation',
 'Qualification remarquable',
 'Résumé',
 'Descriptif',
 'Numéro de délibération',
 'Date de la délibération',
 'Label national',
 'Panonceau',
 'Photo 1',
 'Copyright 1']

In [7]:
df.where(df['hauteur en m'] > 25).show()

+--------------------+---------+-----------+-----------------+--------------------+------+--------------------+-------------------+------------+-------------------+----------+--------------+------------+-----------------+-------------------+----------------+---------+---------+--------------------+--------------------+--------------------+----------------+-----------------+--------------------+----------------------+--------------------+-------------------+-------------------------+--------------------+--------------------+----------------------+-----------------------+-------------------+--------------------+--------------------+--------------------+
|           Geo point|   idbase|domanialite|  arrondissement3|  complement adresse|numero|            adresse6|circonference en cm|hauteur en m|stade développement| pépinière|         genre|      espèce|varieteoucultivar| date de plantation|libellé Français|  ID Base| ID arbre|                Site|           Adresse19|Complément d'adresse|Arrondissement21|      Domanialité|Dénomination usuelle|Dénomination botanique|Autorité taxonomique|Année de plantation|Qualification remarquable|              Résumé|          Descriptif|Numéro de délibération|Date de la délibération|     Label national|           Panonceau|             Photo 1|         Copyright 1|
+--------------------+---------+-----------+-----------------+--------------------+------+--------------------+-------------------+------------+-------------------+----------+--------------+------------+-----------------+-------------------+----------------+---------+---------+--------------------+--------------------+--------------------+----------------+-----------------+--------------------+----------------------+--------------------+-------------------+-------------------------+--------------------+--------------------+----------------------+-----------------------+-------------------+--------------------+--------------------+--------------------+
|48.86326316465342...|2002347.0|     Jardin| BOIS DE BOULOGNE|               16-07|  NULL|GRANDE CASCADE - ...|              330.0|        30.0|                  M|  Inconnue|      Taxodium|   distichum|             NULL|1859-01-01 00:09:21|   Cyprès Chauve|2002347.0|2002427.0|Bois de Boulogne....|Carrefour de Long...|               16-07|              16| Bois de Boulogne|       Cyprès chauve|    Taxodium distichum|          (L.) Rich.|               1859|                 Paysager|Cet arbre est cla...|Le cyprès chauve ...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Sonia Yassa / Vil...|
|48.86020278555863...|2045847.0|     Jardin| BOIS DE BOULOGNE|                NULL|  NULL|BERGE DU LAC INFE...|              282.0|        35.0|               NULL|CPH RUNGIS|      Taxodium|   distichum|             NULL|1862-01-01 00:09:21|   Cyprès Chauve|2045847.0|2068463.0|Bois de Boulogne....|Chemin de Ceintur...|                NULL|              16| Bois de Boulogne|       Cyprès chauve|    Taxodium distichum|          (L.) Rich.|               1862|                 Paysager|Cet arbre est cla...|Le cyprès chauve ...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Sonia Yassa / Vil...|
|48.86945828649669...|2002350.0|     Jardin| BOIS DE BOULOGNE|             GRILLES|  NULL|PARC DE BAGATELLE...|              515.0|        30.0|                  A|  Inconnue|Sequoiadendron|   giganteum|             NULL|1850-01-01 00:09:21|         Sequoia|2002350.0|2002431.0|Bois de Boulogne....|Allee de Longcham...|               16-22|              16| Bois de Boulogne|       Séquoia géant|  Sequoiadendron gi...| (Lindl.) J.Buchholz|               1850|                 Paysager|Cet arbre est cla...|Le séquoia géant ...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Sonia Yassa / Vil...|
|48.86562176547551...| 121945.0|     Jardin|  PARIS 20E ARRDT|               20-05|  NULL|SQUARE EDOUARD VA...|              520.0|        28.0|                  M|  Inconnue|      Platanus| x hispanica|             NULL|1700-01-01 00:09:21|         Platane| 121945.0| 121945.0|Square Édouard Va...|  50 Avenue Gambetta|               20-05|              20|           Jardin|      Platane commun|  Platanus x hispanica|    Mill. ex Münchh.|           Inconnue|                 Paysager|Cet arbre est cla...|Typique de la fam...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Sonia Yassa / Vil...|
|48.87153634227522...| 111331.0|     Jardin|  PARIS 16E ARRDT|PELOUSE 20 - 75 à 77|  NULL|JARDIN DE L AVENU...|              450.0|        27.0|                  M|  Inconnue|      Platanus| x hispanica|             NULL|1700-01-01 00:09:21|         Platane| 111331.0| 111331.0|         Avenue Foch|      10 Avenue Foch|PELOUSE 20 - 75 à 77|              16|           Jardin|      Platane commun|  Platanus x hispanica|    Mill. ex Münchh.|           Inconnue|                 Paysager|Cet arbre est cla...|Le platane commun...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Romain Duflos / V...|
|48.83343581082583...|2002367.0|     Jardin|BOIS DE VINCENNES|               12-04|  NULL|ROUTE DE LA CEINT...|              595.0|        26.0|                  A|  Inconnue|       Juglans|       nigra|             NULL|1845-01-01 00:09:21|           Noyer|2002367.0|2002389.0|Bois de Vincennes...|                NULL|               12-04|              12|Bois de Vincennes|          Noyer noir|         Juglans nigra|                  L.|               1845|                 Paysager|Cet arbre est cla...|De la famille des...|         2015 DEVE 152|             2015-11-23|A.R.B.R.E.S en 2015|https://capgeo.si...|https://capgeo.si...|Jean-Pierre Vigui...|
|48.86017854998492...|2002397.0|     Jardin| BOIS DE BOULOGNE|               16-03|  NULL|BERGE DU LAC INFE...|              362.0|        32.0|                  M|  Inconnue|      Taxodium|   distichum|             NULL|1862-01-01 00:09:21|   Cyprès Chauve|2002397.0|2002445.0|Bois de Boulogne....|Chemin de Ceintur...|               16-03|              16| Bois de Boulogne|       Cyprès chauve|    Taxodium distichum|          (L.) Rich.|               1862|                 Paysager|Cet arbre est cla...|Le cyprès chauve ...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Sonia Yassa / Vil...|
|48.86612721531167...|2002398.0|     Jardin| BOIS DE BOULOGNE|               16-04|  NULL|ILE DU LAC INFERIEUR|              380.0|        26.0|                  M|  Inconnue|      Platanus|  orientalis|             NULL|1859-01-01 00:09:21|         Platane|2002398.0|2002440.0|Bois de Boulogne....|                NULL|               16-04|              16| Bois de Boulogne|    Platane d'Orient|   Platanus orientalis|                  L.|               1859|                 Paysager|Cet arbre est cla...|Le platane d’Orie...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Sonia Yassa / Vil...|
|48.86481794494102...|2002394.0|     Jardin| BOIS DE BOULOGNE|               16-14|  NULL|JARDIN DU PRE CAT...|              645.0|        36.0|                  A|  Inconnue|Sequoiadendron|   giganteum|             NULL|1872-01-01 00:09:21|         Sequoia|2002394.0|2002438.0|Bois de Boulogne....|Carrefour de la G...|               16-14|              16| Bois de Boulogne|       Séquoia géant|  Sequoiadendron gi...| (Lindl.) J.Buchholz|               1872|                 Paysager|Cet arbre est cla...|Le séquoia géant ...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Sonia Yassa / Vil...|
|48.87692125249614...| 317250.0|     Jardin|   PARIS 9E ARRDT|                NULL|  NULL|SQUARE MONTHOLON ...|              465.0|        27.0|                  M|  Inconnue|      Platanus| x hispanica|             NULL|1700-01-01 00:09:21|         Platane| 317250.0| 317250.0|    Square Montholon|79 Bis Rue La Fay...|                NULL|               9|           Jardin|      Platane commun|  Platanus x hispanica|    Mill. ex Münchh.|           Inconnue|                 Paysager|Cet arbre est cla...|Essence typique d...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Romain Duflos / V...|
|48.86922434552711...|2002346.0|     Jardin| BOIS DE BOULOGNE|               16-19|  NULL|PARC DE BAGATELLE...|              503.0|        40.0|                  M|  Inconnue|      Platanus| x hispanica|             NULL|1847-01-01 00:09:21|         Platane|2002346.0|2002430.0|Bois de Boulogne....|Allee de Longcham...|               16-19|              16| Bois de Boulogne|      Platane commun|  Platanus x hispanica|    Mill. ex Münchh.|               1847|                 Paysager|Cet arbre est cla...|Essence typique d...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Sonia Yassa / Vil...|
|48.86711843883388...|2002389.0|     Jardin| BOIS DE BOULOGNE|               16-10|  NULL|ROUTE DU LAC A BA...|              535.0|        45.0|                  M|  Inconnue|      Platanus| x hispanica|             NULL|1872-01-01 00:09:21|         Platane|2002389.0|2002449.0|Bois de Boulogne....|                NULL|               16-10|              16| Bois de Boulogne|      Platane commun|  Platanus x hispanica|    Mill. ex Münchh.|               1872|                 Paysager|Cet arbre est cla...|Essence typique d...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Sonia Yassa / Vil...|
|48.87858281831969...| 313940.0|     Jardin|   PARIS 8E ARRDT|               08-02|  NULL|PARC MONCEAU / 1 ...|              645.0|        31.0|                  M|  Inconnue|      Platanus|  orientalis|             NULL|1700-01-01 00:09:21|         Platane| 313940.0| 313940.0|        Parc Monceau|                NULL|               08-02|               8|           Jardin|    Platane d'Orient|   Platanus orientalis|                  L.|           Inconnue|                 Paysager|Cet arbre est cla...|Originaire d’Asie...|         2015 DEVE 152|             2015-11-23|A.R.B.R.E.S en 2015|https://capgeo.si...|https://capgeo.si...|Frédéric Combeau ...|
|48.82413393385037...| 112897.0|     Jardin|  PARIS 14E ARRDT|        Talus du Lac|  NULL|PARC MONTSOURIS /...|              390.0|        26.0|                  M|  Inconnue|      Platanus| x hispanica|             NULL|1700-01-01 00:09:21|         Platane| 112897.0| 112897.0|     Parc Montsouris|28 Boulevard Jourdan|        Talus du Lac|              14|           Jardin|      Platane commun|  Platanus x hispanica|    Mill. ex Münchh.|           Inconnue|                 Paysager|Cet arbre est cla...|Essence typique d...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Clément Dorval / ...|
|48.86125585510327...| 162943.0|  CIMETIERE|  PARIS 20E ARRDT|               20-14|  NULL|CIMETIERE DU PERE...|              375.0|        26.0|                  M|  Inconnue|      Platanus| x hispanica|             NULL|1700-01-01 00:09:21|         Platane| 162943.0| 162943.0|Cimetière du Père...|Cimetiere Du Pere...|               20-14|              20|        Cimetière|      Platane commun|  Platanus x hispanica|    Mill. ex Münchh.|           Inconnue|                 Paysager|Cet arbre est cla...|Le platane commun...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Mathieu Bedel / V...|
|48.88774751308831...| 120299.0|     Jardin|  PARIS 18E ARRDT|        Amphithéâtre|  NULL|PARC MARCEL BLEUS...|              359.0|        27.0|                  M|  Inconnue|      Platanus| x hispanica|             NULL|1700-01-01 00:09:21|         Platane| 120299.0| 120299.0|Parc Marcel Bleus...|   1 Rue de la Bonne|        Amphithéâtre|              18|           Jardin|      Platane commun|  Platanus x hispanica|    Mill. ex Münchh.|           Inconnue|                 Paysager|Cet arbre est cla...|Essence typique d...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Romain Duflos / V...|
|48.88040062826234...| 102140.0|     Jardin|  PARIS 19E ARRDT|                NULL|  NULL|PARC DES BUTTES C...|              580.0|        30.0|                  M|  Inconnue|      Platanus| x hispanica|             NULL|1700-01-01 00:09:21|         Platane| 102140.0| 102140.0|Parc des Buttes C...|                NULL|               19-08|              19|           Jardin|      Platane commun|              Platanus|    Mill. ex Münchh.|           Inconnue|                 Paysager|Cet arbre est cla...|Essence typique d...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|                NULL|
|48.83208718588047...|2041447.0|     Jardin|BOIS DE VINCENNES|                NULL|  NULL|ILE DE BERCY / LA...|              345.0|        35.0|                  M|  Inconnue|      Platanus| x hispanica|             NULL|1860-01-01 00:09:21|         Platane|2041447.0|2061342.0|Bois de Vincennes...|31 Route de ceint...|                NULL|              12|Bois de Vincennes|      Platane commun|  Platanus x hispanica|    Mill. ex Münchh.|               1860|                 Paysager|Ces arbres sont c...|Essence typique d...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Clément Dorval / ...|
|48.87264175765499...| 114140.0|     Jardin|  PARIS 16E ARRDT|PELOUSE 05 - 54 à 68|  NULL|JARDIN DE L AVENU...|              445.0|        27.0|                  M|  Inconnue|       Zelkova|carpinifolia|             NULL|1700-01-01 00:09:21| Orme de Sibérie| 114140.0| 114140.0|         Avenue Foch|      10 Avenue Foch|PELOUSE 05 - 54 à 68|              16|           Jardin|     Orme du Caucase|  Zelkova carpinifolia|     (Pall.) K. Koch|           Inconnue|                 Paysager|Cet arbre est cla...|Originaire du Cau...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Clément Dorval / ...|
|48.88723844266431...| 135262.0|     Jardin|  PARIS 17E ARRDT|               17-07|  NULL|SQUARE DES BATIGN...|              435.0|        30.0|                  M|  Inconnue|    Pterocarya|fraxinifolia|             NULL|1700-01-01 00:09:21|      Pterocarya| 135262.0| 135262.0|Square des Batign...|                NULL|               17-07|              17|           Jardin|    Noyer du Caucase|  Pterocarya fraxin...|       (Poir.) Spach|           Inconnue|                 Paysager|Cet arbre est cla...|Le noyer du Cauca...|                  NULL|                   NULL|               NULL|https://capgeo.si...|https://capgeo.si...|Clément Dorval / ...|
+--------------------+---------+-----------+-----------------+--------------------+------+--------------------+-------------------+------------+-------------------+----------+--------------+------------+-----------------+-------------------+----------------+---------+---------+--------------------+--------------------+--------------------+----------------+-----------------+--------------------+----------------------+--------------------+-------------------+-------------------------+--------------------+--------------------+----------------------+-----------------------+-------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

25/11/20 14:38:21 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Geo point, idbase, domanialite, arrondissement, complement adresse, numero, adresse, circonference en cm, hauteur en m, stade développement, pépinière, genre, espèce, varieteoucultivar, date de plantation, libellé Français, ID Base, ID arbre, Site, Adresse, Complément d'adresse, Arrondissement, Domanialité, Dénomination usuelle, Dénomination botanique, Autorité taxonomique, Année de plantation, Qualification remarquable, Résumé, Descriptif, Numéro de délibération, Date de la délibération, Label national, Panonceau, Photo 1, Copyright 1
 Schema: Geo point, idbase, domanialite, arrondissement3, complement adresse, numero, adresse6, circonference en cm, hauteur en m, stade développement, pépinière, genre, espèce, varieteoucultivar, date de plantation, libellé Français, ID Base, ID arbre, Site, Adresse19, Complément d'adresse, Arrondissement21, Domanialité, Dénomination usuelle, Dénomination botanique, Autorité taxonomique, Année de plantation, Qualification remarquable, Résumé, Descriptif, Numéro de délibération, Date de la délibération, Label national, Panonceau, Photo 1, Copyright 1
Expected: arrondissement3 but found: arrondissement
CSV file: file:///home/cuoce/Big_Data/iteration2/arbresremarquablesparis.csv

In [8]:
df.select('arrondissement3').show()

+-----------------+
|  arrondissement3|
+-----------------+
|  PARIS 16E ARRDT|
| BOIS DE BOULOGNE|
|  PARIS 20E ARRDT|
|  PARIS 18E ARRDT|
|  PARIS 20E ARRDT|
|  PARIS 15E ARRDT|
| BOIS DE BOULOGNE|
|   PARIS 5E ARRDT|
|   PARIS 5E ARRDT|
| BOIS DE BOULOGNE|
|  PARIS 20E ARRDT|
|  PARIS 16E ARRDT|
|BOIS DE VINCENNES|
|  PARIS 19E ARRDT|
|   PARIS 7E ARRDT|
|BOIS DE VINCENNES|
|  PARIS 11E ARRDT|
|  PARIS 16E ARRDT|
|   PARIS 5E ARRDT|
|  PARIS 16E ARRDT|
+-----------------+
only showing top 20 rows

25/11/20 14:38:21 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: arrondissement
 Schema: arrondissement3
Expected: arrondissement3 but found: arrondissement
CSV file: file:///home/cuoce/Big_Data/iteration2/arbresremarquablesparis.csv

### Quel âge a notre plus vieil ami ?

In [10]:
from pyspark.sql.functions import col, min, max, avg
df.select(min(col("Année de plantation").try_cast("int"))).show()

+-----------------------------------------+
|min(TRY_CAST(Année de plantation AS INT))|
+-----------------------------------------+
|                                     1602|
+-----------------------------------------+

### Quel est le volume du plus grand arbre ?

In [11]:
df.select("Libellé Français", "hauteur en m",'circonference en cm')\
    .filter(col("hauteur en m").isNotNull()).sort("hauteur en m", ascending=False).show()

+----------------+------------+-------------------+
|Libellé Français|hauteur en m|circonference en cm|
+----------------+------------+-------------------+
|         Platane|        45.0|              535.0|
|         Platane|        40.0|              503.0|
|         Sequoia|        36.0|              645.0|
|   Cyprès Chauve|        35.0|              282.0|
|         Platane|        35.0|              345.0|
|         Platane|        35.0|              528.0|
|         Platane|        35.0|              410.0|
|         Platane|        35.0|              430.0|
|         Platane|        35.0|              430.0|
|         Platane|        35.0|              420.0|
|         Platane|        34.0|              604.0|
|         Sequoia|        33.0|              553.0|
|   Cyprès Chauve|        32.0|              362.0|
|         Platane|        32.0|              400.0|
|         Platane|        32.0|              360.0|
|         Platane|        31.0|              645.0|
|         Platane|        31.0|              570.0|
|   Cyprès Chauve|        30.0|              330.0|
|         Sequoia|        30.0|              515.0|
|         Platane|        30.0|              580.0|
+----------------+------------+-------------------+
only showing top 20 rows

In [12]:
circ_m = col("circonference en cm") / 100

rayon = circ_m / (2 * 3.14159)

df.withColumn("Volume", 3.14159 * pow(rayon, 2) * col("hauteur en m")) \
  .select("Libellé Français", "hauteur en m", "circonference en cm", "Volume") \
  .sort("Volume", ascending=False) \
  .show()

# add a new col withColumn

+----------------+------------+-------------------+------------------+
|Libellé Français|hauteur en m|circonference en cm|            Volume|
+----------------+------------+-------------------+------------------+
|         Platane|        30.0|              740.0|130.72998067857358|
|         Sequoia|        36.0|              645.0|  119.182484028788|
|         Platane|        31.0|              645.0|102.62936124701189|
|         Platane|        45.0|              535.0|102.49686464497275|
|         Platane|        25.0|              710.0|100.28759322508665|
|         Platane|        34.0|              604.0| 98.70594189566431|
|         Platane|        30.0|              615.0|   90.294643795021|
|         Platane|        30.0|              600.0| 85.94374186319666|
|         Platane|        25.0|              651.0| 84.31260126241806|
|         Platane|        40.0|              503.0|  80.5353340187612|
|         Platane|        30.0|              580.0| 80.30965211883155|
|         Sequoia|        33.0|              553.0| 80.30724091940706|
|         Platane|        31.0|              570.0| 80.14970126591949|
|         Platane|        35.0|              528.0| 77.64730598200276|
|         Platane|        30.0|              555.0| 73.53561413169764|
|           Noyer|        26.0|              595.0| 73.24833921676604|
|         Sequoia|        30.0|              515.0|63.317858154628716|
|         Platane|        28.0|              520.0| 60.24974614765136|
|         Platane|        28.0|              520.0| 60.24974614765136|
|         Platane|        28.0|              505.0|56.823933103937804|
+----------------+------------+-------------------+------------------+
only showing top 20 rows

### Quelle est la hauteur moyenne de ces spécimens ?

In [13]:
df.select(avg(col("hauteur en m"))).show()

+------------------+
| avg(hauteur en m)|
+------------------+
|20.318918918918918|
+------------------+

### Dans quel arrondissement y a-t-il le plus d’arbres ?

In [14]:
df.filter(col("arrondissement3").isNotNull())\
    .groupBy("arrondissement3").count().sort("count", ascending=False).show(1)

25/11/20 14:39:42 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: arrondissement
 Schema: arrondissement3
Expected: arrondissement3 but found: arrondissement
CSV file: file:///home/cuoce/Big_Data/iteration2/arbresremarquablesparis.csv

+-----------------+-----+
|  arrondissement3|count|
+-----------------+-----+
|BOIS DE VINCENNES|   32|
+-----------------+-----+
only showing top 1 row

### Combien y a-t-il d'arbres au Cimetière du Père Lachaise ?

In [19]:
df.filter(col("domanialite") == "CIMETIERE") \
  .groupBy("domanialite", "adresse6") \
  .count() \
  .show(truncate=False)

+-----------+-----------------------------------+-----+
|domanialite|adresse6                           |count|
+-----------+-----------------------------------+-----+
|CIMETIERE  |CIMETIERE DU PERE LACHAISE / DIV 4 |1    |
|CIMETIERE  |CIMETIERE DU PERE LACHAISE / DIV 45|1    |
|CIMETIERE  |CIMETIERE DU PERE LACHAISE / DIV 78|1    |
|CIMETIERE  |CIMETIERE DU PERE LACHAISE / DIV 77|3    |
|CIMETIERE  |CIMETIERE DU PERE LACHAISE / DIV 84|1    |
|CIMETIERE  |CIMETIERE DU PERE LACHAISE / DIV 76|1    |
|CIMETIERE  |CIMETIERE DU PERE LACHAISE / DIV 75|1    |
|CIMETIERE  |CIMETIERE DE MONTMARTRE / DIV 14   |1    |
+-----------+-----------------------------------+-----+

25/11/20 14:43:40 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: domanialite, adresse
 Schema: domanialite, adresse6
Expected: adresse6 but found: adresse
CSV file: file:///home/cuoce/Big_Data/iteration2/arbresremarquablesparis.csv

In [20]:
df.filter(col("adresse6").contains("LACHAISE")) \
  .groupBy("adresse6") \
  .count() \
  .show(truncate=False)

+-----------------------------------+-----+
|adresse6                           |count|
+-----------------------------------+-----+
|CIMETIERE DU PERE LACHAISE / DIV 4 |1    |
|CIMETIERE DU PERE LACHAISE / DIV 77|3    |
|CIMETIERE DU PERE LACHAISE / DIV 84|1    |
|CIMETIERE DU PERE LACHAISE / DIV 76|1    |
|CIMETIERE DU PERE LACHAISE / DIV 45|1    |
|CIMETIERE DU PERE LACHAISE / DIV 78|1    |
|CIMETIERE DU PERE LACHAISE / DIV 75|1    |
+-----------------------------------+-----+

25/11/20 14:44:38 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: adresse
 Schema: adresse6
Expected: adresse6 but found: adresse
CSV file: file:///home/cuoce/Big_Data/iteration2/arbresremarquablesparis.csv

In [21]:
df.filter(col("adresse6").contains("LACHAISE")).count()

25/11/20 14:45:00 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: adresse
 Schema: adresse6
Expected: adresse6 but found: adresse
CSV file: file:///home/cuoce/Big_Data/iteration2/arbresremarquablesparis.csv

9

## FIN

In [ ]:
# spark.stop()